<li class="list-group-item">
  <div class="row">


    <div class="col-xs-10" style="text-decoration: line-through;" >
      <div class="group ">
          <h6 >   <%= render_todo_status(todo)  %> <span class="underline"> <%= todo.subject %> </span> </h6>

        <%= todo.content.to_markdown %>
      </div>
      <div class="mic-info pull-right">
        By: <%= render_user_name(todo.user) %> on  <span class="underline"><%= todo.updated_at.to_s(:short) %> </span>
      </div>


    </div>

    <div class="col-xs-2">
      <%= render :partial => "review_todos/box_options", :locals => { :todo => todo, :review => @review } %>
    </div>

  </div>
</li>
