<% case todo.status

  when "open" %>

<li> <%= render_mark_todo_pending_btn(todo) %> </li>
<li> <%= render_mark_todo_closed_btn(todo) %> </li>

<% when "pending" %>

<li> <%= render_mark_todo_open_btn(todo) %> </li>
<li> <%= render_mark_todo_closed_btn(todo) %> </li>


<% when "closed" %>

<li> <%= render_mark_todo_open_btn(todo) %> </li>
<li> <%= render_mark_todo_pending_btn(todo) %> </li>

<% end %>
