
<div class="row">
<div class="col-sm-9 col-sm-offset-1">

<div class="clearafix">
  <div class="pull-right">
    <%= ibutton("New Invitations", new_invitation_path, :class => "btn btn-default btn-primary", :iclass => "fa fa-plus") %>
  </div>

</div>


<h2> 邀請列表 </h2>





  <table class="table table-striped">
    <thead>
      <tr>
        <th> Inivitation ID </th>
        <th> Email Address </th>
        <th> Sent By </th>
        <th> Sent Date </th>
        <th> Status </th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      <% @sent_invitations.each do |invitation| %>
        <tr>
          <td> <%= render_invitation_id(invitation) %></td>
          <td> <%= render_invitation_email_address(invitation) %></td>
          <td> <%= render_invitation_iniviter_name(invitation) %></td>
          <td> <%= render_invitation_created_at(invitation) %></td>
          <td> <%= render_invitation_status(invitation) %></td>
          <td>
            <% if invitation.sent? %>
              <%= render_invitation_cancel_btn(invitation) %>
              <%= render_invitation_resend_btn(invitation) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>



  </div>
</div>
