<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


 <div class="container-fluid">

   <%= render "common/team_navbar" %>
   <%= notice_message %>
   <%= render_breadcrumb %>
   <%= yield %>

 </div>

 <%= render :partial => "common/footer" %>


 <%= render :partial => "common/bootstrap_modal" %>



 <%= yield :handwrite_javascript %>


</body>
</html>
